html {
	margin: 0;
	padding: 0;
	background: rgba(35,87,137,1);
	font-family: 'Helvetica Neue', 'Helvetica', Arial, Geneva, Verdana, sans-serif;
}
body {
	width: 70%;
	padding: 1em 50px;
	background: #FDFFFC;
	margin: 15px auto;
	border-radius: 10px;
}
h1 {
	color: #235789;
	margin: 0 auto;
	padding: 5px 10px;
	font-size:3em;
	text-align: center
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 .4em;
	text-align: center;
	color: #235789;
	padding: 5px 10px;
}
h3{
	font-weight: normal;
	font-style: italic;
	margin: 0 0 .4em;
	text-align: center;
	color: #235789;
	padding: 5px 10px;
}
p {
	font-size: 1em;
	font-weight: normal;
	color: #FDFFFC;
	padding: 8px 10px;
	text-align: left;
}
.journal{
	background: rgba(35, 87, 137, 0.7); 
	width: 70%;
	margin: 0 auto; 
	border-radius: 5px;
	border-left: solid 6px rgba(2, 1, 0, 0.7);
}


#team{
	color: #FDFFFC;
	background: #235789;
	margin: 0 auto;
	font-size:2em;
	border-radius: 5px;
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
  background: #235789;
  border-radius: 5px;
}

#menu li {
  float: left;
  border-right:1px solid #FDFFFC;
}

#menu li a {
  display: block;
  color: #FDFFFC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#content {
	width: 100%; 
	margin: 30px 0px;
	padding: 0 10px;  
}